<Files "/CODE/VIEWS/admin.php">
    AuthType Basic 
    AuthName "My Protected Folder" 
    AuthUserFile ..\htdocs\projet_album\.htpasswd
    Require valid-user
</Files>

RewriteEngine On
RewriteRule ^admin$ CODE/VIEWS/admin.php [L]
RewriteRule ^editeur$ CODE/VIEWS/editeur.php [L]
RewriteRule ^$ index.php [L]