/* -------------------------------- Variables ------------------------------- */
body {
  margin: 100px;
  max-width: 1200px;
  width: 95%;
  margin: 20vh auto;
}
body .img_start {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-top: 50px;
  outline: 1px solid black;
  background-color: #F0F0F0;
}
body .img_start a {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
body main form {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
body main section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body main section > hr {
  border: none;
  border-top: 2px solid #dddddd;
  width: 60%;
  margin: 0 auto;
}
body main section .secondHeader {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
body main section .secondHeader h3 {
  color: #18574A;
}
body main section .secondHeader div.hr {
  border-top: 1px solid #18574A;
  flex: 1;
  height: 0;
}
body main section fieldset,
body main section div.list_infos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 10px;
  border: none;
}
body main section fieldset div,
body main section div.list_infos div {
  display: flex;
  flex-direction: column;
  flex: 1;
  outline: 2px solid black;
  border-radius: 1px;
  min-width: 250px;
  width: 300px;
}
body main section fieldset div:hover,
body main section div.list_infos div:hover {
  background-color: #EBF0EF;
}
body main section fieldset div.selected,
body main section div.list_infos div.selected {
  background-color: #18574A;
  outline: 3px solid #18574A;
  outline-offset: -1px;
  color: #EBF0EF;
  opacity: 0.9;
}
body main section fieldset div.selected:hover,
body main section div.list_infos div.selected:hover {
  opacity: 1;
}
body main section fieldset div.selected label,
body main section fieldset div.selected .info,
body main section div.list_infos div.selected label,
body main section div.list_infos div.selected .info {
  color: white;
}
body main section fieldset div label,
body main section fieldset div .info,
body main section div.list_infos div label,
body main section div.list_infos div .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
body main section fieldset div label p,
body main section fieldset div .info p,
body main section div.list_infos div label p,
body main section div.list_infos div .info p {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section fieldset div label img,
body main section fieldset div .info img,
body main section div.list_infos div label img,
body main section div.list_infos div .info img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section fieldset div label input,
body main section fieldset div .info input,
body main section div.list_infos div label input,
body main section div.list_infos div .info input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
body main section fieldset div label:has(> img),
body main section fieldset div .info:has(> img),
body main section div.list_infos div label:has(> img),
body main section div.list_infos div .info:has(> img) {
  padding: 0;
  height: auto;
}
body main .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #EBF0EF;
  padding: 40px;
  border-radius: 10px;
}
body main .card h1 {
  color: #18574A;
}
body main .card a {
  text-decoration: none;
}

.feuille {
  background: Y;
}

.feuille button {
  font-family: X;
}/*# sourceMappingURL=accueil.css.map */