/* -------------------------------- Variables ------------------------------- */
// --- couleurs ---
$gris: #F0F0F0;
$gris2: #dddddd;
$gristext: #737373;

$vert_fonce: #12443a;
$vert: #18574A;
$vert_fond: #EBF0EF;

$rouge : #792222;

body{
    margin: 100px;

    max-width: 1200px;
    width: 95%;
    margin: 20vh auto;

    .img_start{
        position: relative;

        width: 100%;
        height: 30vh;
        
        margin-top: 50px;
        outline: 1px solid black;
        background-color: $gris;

        a{
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    main{
        form{
            display: flex;
            flex-direction: column;
            gap: 200px;
        }

        section{
            display: flex;
            flex-direction: column;
            gap: 30px;

            >hr{
                border: none;
                border-top: 2px solid $gris2;

                width: 60%;
                margin: 0 auto;
            }



            fieldset{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap-reverse;
                gap: 10px;
            
                border: none;
            
                div{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
            
                    outline: 2px solid black;
                    border-radius: 1px;
                    min-width: 250px;
                    width: 300px;

                    &:hover{
                        background-color: $vert_fond;
                    }



                    //propriétés différentes si l'input est check
                    &.selected {
                        background-color: $vert;
                        outline: 3px solid $vert;
                        outline-offset: -1px;
                        color: $vert_fond;
                        opacity: 0.9;

                        &:hover{
                            opacity: 1;
                        }
                    }
            
                    label{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        cursor: pointer;

                        p{
                            height: 50px;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        img{
                            width: 100%;
                            height: 250px;
            
                            object-fit: cover;
                        }
            
                        input{
                            appearance: none;
                            position: absolute;
                        }
            
                        //propriétés différentes s'il comporte une image
                        &:has(>img) {
                            padding: 0;
            
                            height: auto;
                        }
                    }
                }
            }

        }
    }
}


.feuille{background: Y ;}.feuille button{font-family : X ;}