// --- couleurs ---- 
$gris: #F0F0F0;
$gris2_transparent: #00000012;
$gristext: #737373;

$vert: #18574A;
$vert2: rgb(195, 242, 231);
$vert_fond: #EBF0EF;

$rouge : #792222;
$rouge_fond : #f0e5e5;


body{
    margin: 0px;
    overflow-x: hidden;

    scroll-behavior: smooth;
}


/* ------------------------------- DIMENSIONS ------------------------------- */
$width_gauche: 360px;
$width_droite: 304px;

/* -------------------------------- EDITABLES ------------------------------- */
$taille_texte: 20px;



/* -------------------------------------------------------------------------- */
/*                                   EDITEUR                                  */
/* -------------------------------------------------------------------------- */
#editeur{

    position: relative;
    background-color: $vert_fond;
 
    section{
        border: 2px solid black;
        background-color: white;

        >.header_section{ // Mise en page de tous les entête de section
            position: absolute;
            left: 0;
            top: 0;
            z-index: 4;

            padding: 15px 0 25px 0;
            text-align: center;

            width: 100%;

            background: linear-gradient(180deg, #FFFFFF 70%, rgba(255, 255, 255, 0) 100%);

            >p{
                color: $gristext;
            }
        }
        >.footer_section{ // Mise en page de tous les footer de section
            z-index: 4;
            
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            padding: 30px 0;
            
            display: flex;
            justify-content: center;
            align-self: center;

            background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
        }
    }


    /* -------------------------------------------------------------------------- */
    /*                                   GAUCHE                                   */
    /* -------------------------------------------------------------------------- */


    div#gauche{
        position: fixed ;
        left:0 ;
        top: 0;
        height: calc(100vh - 4px);
        width: $width_gauche;

        z-index: 700;


        // CSS commun aux 3 parties
        #edit_image,
        #edit_texte,
        #templates{
            position: absolute;

            display: block;

            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;
            padding: 0 30px;
       
            overflow: auto;

            transition: transform 0.5s;




            footer{
                span{
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.4);   
                }
            }
        }
        // Partie affichage des templates 
        #templates{
            overflow-x: hidden;


            main{
                overflow: visible;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-direction: row;
                
                width: 100%;
                gap: 15px;
                padding: 100px 0;

                
                >a{
                    position: relative;
                    
                    $width: 110px;
                    $ratio: 1.414;
                    height: $width * $ratio ;
                    width: $width;

                    outline: 2px solid $vert;
                    background-color: white;

                    transition: background 0.1s ease-in;

                    &:hover{
                        cursor: pointer;
                        background-color: $vert2;
                    }

                    .img{
                        position: absolute;
                        margin: 0;
                        background-color: $gris2_transparent;
                        border: none;
                    }
                    .txt{
                        position: absolute;
                        height: 5%;
                        width: 30%;

                        transform: translate(-50%, -50%);
                        border-radius: 100px;
                        margin: 0;
                        background-color: $vert;
                        border: none;
                    }
                }
                
                //permet de remplir l'espace restant à la fin
                &:after {
                    content: "";
                    flex: auto;
                }
            }
            

            #verif_chang_template{
                display: none;

                position: absolute;
                bottom: 0px;
                left: 0px;
                z-index: 100;
                overflow-x: hidden;

                width: 100%;
                height: calc(100% - 80px);
                
                opacity: 0.95;
                background-color: white;
                backdrop-filter: blur(10px);

                flex-direction: column;
                justify-content: center;
                align-items: center;

                h4{
                    color: black;
                    font-size: 20px;
                }
                p{
                    color: $rouge;
                    font-size: 16px;
                }

                div{
                    display: flex;
                    margin-top: 20px;
                    gap: 10px;

                    button{
                        border: none;
                        font-size: 16px;
                        padding: 10px 30px;
                        border-radius: 5px;
                        
                        cursor: pointer;

                        transition: all 0.2s ease;
    
                        &.continue{
                            background-color: white;
                            color: $vert;
    
                            text-decoration: underline;

                            &:hover{
                                background-color: $vert_fond;
                            }
                        }
                        &.cancel{
                            background-color: $rouge;
                            color: white;
                            
                            opacity: 0.9;

                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }


        // Partie edit image 
        // RAF : partie comment afficher l'image  
        #edit_image{
            display: none;

            main{
                margin-top: 90px;
                position:relative;
                >div{
                    margin-bottom: 40px;
                    p{
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 19px;
                        margin-bottom: 15px;
                    }
                    .inserer_image{
                        width: 100%;
                        height: 250px;
                        border: 1px dashed #18574A;
                        background-color: $gris;
                        border-radius: 5px;

                        label{

                            width: 100%;
                            height: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-size: 20px;
                            font-weight: 300;
                            color: $gristext;

                            input{
                                display: none;

                            }

                            &:hover{
                                cursor: pointer;
                            }
                        }

                        
                    }
                    .image_actuel{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 20px 0 ;

                        >div{
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            
                            .image{
                                width: 100px;
                                height: 70px;

                                background-color: $gristext;
                                background-size:cover;
                                background-position: center;

                                border-radius: 5px;
                            }

                            .info{                                

                                h4{
                                    margin: 5px;

                                    font-size: 20px;
                                }
                                p{
                                    margin: 5px;
                                    
                                    font-size: 14px;
                                    font-weight: 300;
                                    width: 80%;
                                }
                            }

                            
                        }
                        &>img{
                            &:hover{
                                cursor: pointer; 
                            }
                            
                        }
                    }
                    

                }
                .placer_image > div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img,
                    div>*{
                        cursor: pointer;
                    }

                    >div{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        >div{
                            height: 40px;
                            width: 40px;
                            background-color: #dddddd;
                            border-radius: 100px;
                            margin: 25px;
                        }
                    }
                }

            }


        }
        // Partie edit texte 
        #edit_texte{
            display: none;

            main{
                margin-top: 90px;
                position: relative;

                div{
                    height: 65vh;

                    h6{
                        position: absolute;
                        
                        top: 15px;
                        left: 15px;

                        z-index: 2;
                    }
                    textarea{
                        
                        position: absolute;
                        top: 0;
                        left: 0;
                        
                        height: 100%;
                        width: 88%;
                        background-color: $gris;
                        border: 1px solid #000000;


                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 300;

                        padding:  50px 20px;

                        
                        
                    }
                }
                
            }
        }
    }

    #retour_options{
        position: absolute;
        top: 10px;
        left: calc($width_gauche + 80px);

        text-decoration: none;
        padding: 5px 20px;
        background: transparent;
        border: 2px solid $vert_fond;
        border-radius: 5px;

        z-index: 200;

        .primaire{
            display: flex;
            align-items: center;
            gap: 10px;


            p{
                font-size: 16px;
                color: $vert;
            }

            img{
                width: 25px;
                transform: translateX(0px);
    
                transition: all 0.2s ease;
            }
        }

        .secondaire{
            display: none;
            padding: 10px 0;
        
            p{
                color: $rouge;
                font-size: 14px;
            }

            a{
                display: block;
                padding: 10px;
                margin-top: 10px;

                border-radius: 3px;
                color: white;
                text-decoration: none;
                
                background-color: $vert;
                opacity: 0.9;

                &:hover{
                    opacity: 1;
                }
            }
        }


        transition: all 0.2s ease;

        &:hover{
            background-color: white;

            img{
                transform: translateX(-5px);
            }
        }
    }

    #vue_degagee{
        position: absolute;
        top: 10px;
        left: 50%;

        display: flex;
        align-items: center;
        gap: 10px;

        padding: 8px 22px;
        transform: translate(-50%, 0%);

        border: none;
        border-radius: 100px;
        background: transparent;

        cursor: pointer;

        img{
            width: 22px;
        }
        p{
            color: $vert;
            font-size: 16px;
        }

        transition: all ease 0.2s;
        &:hover{
            background-color: white;
        }

    }

    /* -------------------------------------------------------------------------- */
    /*                                   CENTRE                                   */
    /* -------------------------------------------------------------------------- */


    .centre{
        height: 100vh;
        padding: 0 35%;
        display: flex;
        align-items: center;

        overflow: hidden; 

        .page{

            display: flex;
            align-items: center;
            flex-direction: column;

            position: relative;
           


            p{
                font-size: 15px;
                font-weight: 300;
                text-align: center;

                margin-bottom: 10px;

                transition: all ease 1s;   
                width: 90%;             
            }
            >.feuille{
                //Calcul pour que la hauteur ne dépasse pas celle de l'écran
                $ratio: 1.414;
                $height: 80vh;
                height: $height ;
                width: calc($height / $ratio);

                background-color:white; 

                border: 4px solid #18574A;
                box-shadow: 13px 13px 0px #000000;

                position: relative;
                z-index: 0;

                >.zone{

                    $marge: 10px;
                    margin: $marge;
                    height: calc(100% - $marge * 2);
                    width: calc(100% - $marge * 2);

                    &.id1{
                        $marge : 0px;
                        margin: $marge;
                        height: calc(100% - $marge * 2);
                        width: calc(100% - $marge * 2);
                    }

                    position: relative;
                }

                .voile{
                    position: absolute;
                    top: 0;
                    left: 0;

                    height: 100%;
                    width: 100%;

                    background-color: #18574a55;

                    z-index: 10;

                    &:hover{
                        cursor: pointer;
                    }
                }


                button{
                    position: absolute;
                    cursor: pointer;

                    &.txt{
                        font-size: $taille_texte;

                        border: 1px dashed $gristext;
                        background-color: transparent;

                        padding: 5px 5px;

                        min-width: 30%;
                        min-height: 5%;

                        width: auto;
                        height: auto;

                        max-width: 80%;
                        max-height: 30%;
                        border-radius: 10px;

                        transform: translate(-50%, -50%);

                        &.border-none{
                            border: none;
                        }
                    }
                    &.img{
                        outline: 2px solid transparent;
                        outline-offset: -2px;

                        background-color: $gris2_transparent;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;

                        border: none;

                        &.vide{
                            background-image: url("../../ASSETS/img/ajout_image.png") !important;
                            background-size: 30px  !important;
                            background-position: center !important;

                        }
                    

                        &.img_top{
                            background-position: top;
                        }
                        &.img_bottom{
                            background-position: bottom;
                        }
                        &.img_center{
                            background-position: center;
                        }
                        &.img_left{
                            background-position: left;
                        }
                        &.img_right{
                            background-position: right;
                        }


                    }
                    &.selected{
                        outline: 4px solid $vert;
                        outline-offset: -4px;
                    }

                    transition: all 0.2s ease-in;

                    &:hover{
                        background-color: $vert2;

                        outline: 2px solid $vert;
                    }
                }
                
            }

            img{
                position: absolute;
                top: 10px;
                left: -15px;

                width: 25px;
            }
            

            
        }



    }





    /* -------------------------------------------------------------------------- */
    /*                                   DROITE                                   */
    /* -------------------------------------------------------------------------- */
    div#droite{

        z-index: 700;

        position: fixed;
        right:0 ;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100vh;
        width: $width_droite;

        /* -------------------------------------------------------------------------- */
        /*                                   APERCU                                   */
        /* -------------------------------------------------------------------------- */
        #apercu{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 89vh;

            right: 0;
            top: 0;

            main{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 30px;

                height: 100%;
                margin: 0 auto;
                padding: 100px 10px 110px 30px;

                overflow-y: scroll;

                .list_pages,
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &.bloc_couv{
                        box-shadow: -5px 0px 0px 10px $gris, 5px 0px 0px 10px $gris;
                        border-radius: 3px;
                        background-color: $gris;

                        >div{
                            justify-content: center !important;
                        }
                    }
                    .bloc_page.bloc_pages_1>div{
                        flex-direction: row-reverse;
                    }

                    .bloc_page,
                    &.bloc_couv{
                    
                        width: 100%;
    
                        >div{
                            display: flex;
                            justify-content: space-between;
                            gap: 10px;
                            flex-direction: initial;
                                
                            .vignette_page{
                                position: relative; 
                                background-color: white;
    
                                $width: 125px;
    
                                width: $width;
                                height: calc($width * 1.414);

                                &.disabled{
                                    outline: none !important;
                                    cursor:auto !important;
                                    
                                    &:hover{
                                        background-color: transparent !important;
                                    } 
                                }
    
                                &.selected{
                                    outline: 4px solid $vert;
                                }
                                &.unselected{
                                    outline: 2px solid $vert;
                                }
                                
                                div{
                                    background-color: $gris2_transparent;
                                    position: absolute;
                                }
                                .txt{
                                    height: 5%;
                                    width: 30%;
                                    transform: translate(-50%, -50%);
    
                                    border-radius: 50px;
                                    margin: 0;
                                    background-color: $vert;
                                    height: 5px;
                                }
                                .img{
                                    border: none;
                                    background-size: cover;
                                    background-position: center;

                                    transition: all 0.2s ease-in;
    
                                    &.img_top{
                                        background-position: top;
                                    }
                                    &.img_bottom{
                                        background-position: bottom;
                                    }
                                    &.img_center{
                                        background-position: center;
                                    }
                                    &.img_left{
                                        background-position: left;
                                    }
                                    &.img_right{
                                        background-position: right;
                                    }
                                }
    
                                .suppr_page{
                                    position: absolute;
                                    top: -14px;
                                    right: -14px;
                                    z-index: 2;
                                }

                                transition: background 0.1s ease-in;

                                &:hover{
                                    cursor: pointer;
                                    background-color: $vert2;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        /* -------------------------------------------------------------------------- */
        /*                                   PANIER                                   */
        /* -------------------------------------------------------------------------- */

        #panier{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;

            &.roll{
                height: 8vh;
            }
            &.unrolled{
                height: 610px;
            }

            width: 100%;
            transition: height ease-in-out 0.6s;

            &.shadow{
                box-shadow: 0px -20px 105px 50px #ebf0ef;
            }

            >header{
                position: relative;
                display: flex;
                justify-content: end;
                height: 8vh;
                
                outline: 2px solid black;
    
                cursor: pointer;
    
                >div:first-child{
                    flex: 1;
                    height: 100%;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                >div:last-child{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    background-color: black;
                    height: 100%;
                    width: 100px;
    
                    img{
                        width: 50px;
                        transition: transform ease 0.6s;
                    }
                    img.reverse {
                        transform: rotate(-180deg);
                    }
                }
    
    
                &:hover{
                    img{
                        transform: translate(0, -10px);
                    }
                    img.reverse{
                        transform: translate(0, 10px);
                    }
                }
            }

            >main{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;


                >header,
                >main{
                    display: flex;
                    flex-direction: column;

                    border: 1px solid black;
                    padding: 20px;
                    background-color: $gris;
                }
                
                >header{
                    input{
                        margin-top: 10px;
                        padding: 5px 15px;

                        border: 1px solid black;
                        flex: 1;
                    }
                }
                >main{
                    #options_album{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        margin-bottom: 20px;

                        div{
                            display: flex;
                            justify-content: space-between;

                            p{
                                color: black;
                            }
                            span{
                                color: $gristext;
                            }
                        }
                    }
                    &>div:last-child{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        outline: 2px solid black;
                        background-color: rgba(195, 242, 231, 1);
                        padding: 10px 15px;
                    }
                }
                >footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    >div:first-child{ //boutons de quant
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        width: 50%;
                        height: fit-content;
                        padding: 5px;

                        outline: 2px solid black;
                        outline-offset: -1px;
                        box-shadow: 6px 6px 0px #000000;

                        button{
                            background-color: white;
                            border: 1px solid black;
                            height: 40px;
                            width: 40px;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            cursor: pointer;
                        
                            &:hover{
                                background-color: $vert_fond;
                            }
                        }
                    }
                    >div:last-child{ //prix et reduc

                        >div{
                            display: none;
                            justify-content: space-between;
                            gap: 5px;
                            margin-bottom: 5px;

                            span{
                                font-size: 14px;

                                color: $gristext;
                                text-decoration: line-through;
                            }
                            p{
                                font-size: 14px;
                                
                            }
                        }
                        >p{ //prix
                            font-size: 27px;
                            font-weight: 900;

                            text-align: right;
                            margin-top: -6px;
                        }
                    }
                }
            }

            >footer{
                display: flex;
                padding: 0 20px 20px 20px;

            }
            
        }

        
    }

    #actions_droite{
        position: absolute;
        bottom: 10px;
        right: calc($width_droite + 20px);

        #btn_continue_later{
            display: flex;
            align-items: center;
            gap: 12px;

            background-color: $vert_fond;
            border: 1px solid $vert;
            border-radius: 100px;
            
            padding: 10px 30px;
            cursor: pointer;

            img{
                width: 18px;
            }

            transition: all ease 0.2s;
            &:hover{
                background-color: white;
            }
        }
    }



    /* -------------------------------------------------------------------------- */
    /*                            MODAL CONTINUE LATER                            */
    /* -------------------------------------------------------------------------- */

    #modal_continue_later{
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;

        width: 100vw;
        height: 100vh;

        backdrop-filter: blur(10px);
        z-index: 800;



        main{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 500px;
            max-width: 60%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            
            background-color: white;
            border: 2px solid $gris;
            border-radius: 10px;
            padding: 60px 40px 40px 40px;

            text-align: center;

            .annuler{
                position: absolute;
                top: 20px;
                right: 20px;

                display: flex;
                align-items: center;
                gap: 10px;
                background-color: white;
                border: none;

                padding: 5px 10px;
                border-radius: 100px;

                cursor: pointer;

                img{
                    width: 30px;
                }

                transition: all ease 0.2s;
                &:hover{
                    text-decoration: underline;
                }
            }

            h3{
                font-size: 25px;
            }

            p{
                font-size: 15px;
                
                &.second_text{
                    font-size: 12px;
                    color: $gristext;
                    font-style: italic;
                }
            }

            form{

                >div{
                    display: flex;
                    flex-direction: column;
    
                    margin-bottom: 20px;
                    
                    input{
                        background-color: $vert_fond;
                        padding: 10px 20px;
        
                        border: dashed 1px $vert;
                        border-radius: 100px;
                        margin-bottom: 5px;
    
                        font-size: 20px;
    
                        &::placeholder{
                            color: $gristext;
                        }
                    }
                    p{
                        width: 80%;
                        margin: 0 auto;
                    }

                }
    
    
                input[type=submit]{
                    background-color: $gris2_transparent;
                    color: $gristext;
                    padding: 15px 30px;
    
                    border: none;
                    width: fit-content;
                    margin: 0 auto;
    
                    cursor: pointer;
    
                    &.valid{
                        color: white;
                        background-color: $vert;
                        opacity: 0.9;
    
                        &:hover{
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }


    /* -------------------------------------------------------------------------- */
    /*                                 MODAL FINAL                                */
    /* -------------------------------------------------------------------------- */

    #modal_final{
        display: none;
        overflow-y: scroll;

        position: absolute;
        top: 100vh;
        left: 0;

        width: 100vw;
        padding: 20vh 0;

        backdrop-filter: blur(10px);
        z-index: 910;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
    
        &.actif{
            top: 0vh;
        }

        >main{

            display: flex;
            flex-direction: column;
            cursor:auto;

            width: 820px;
            max-width: 90%;
            margin: 0 auto;
            padding: 50px;

            border: 2px solid $gris;
            background-color: white;
            

            >header{
                div{
                    display: flex;
                    justify-content: space-between;

                    button{ // bouton de fermeture du modal
                        display: block;
                        border: none;
                        background-color: transparent;

                        color: $gristext;

                        &:hover{
                            background-color: #EBF0EF;
                        }

                        img{
                            width: 20px;
                        }
                    }
                }
            }
            >main{
                display: block;
                padding-top: 30px;

                h3{
                    color: $gristext;
                }

                #minia_couvertures,
                #minia_pages{

                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;

                    width: 89%;
                    margin: 20px auto;
                    gap: 10px;

                    .double_page{

                        display: flex;

                        >div{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
    
                            position: relative;
    
                            margin-bottom: 15px;
    
                            img{
                                position: absolute;
                                top: 14px;
                                left: -9px;
                
                                width: 15px;
                            }
    
                            .miniature_page{
                                $width : 160px;
                                $ratio: 1.414;
                                height: $width * $ratio ;
                                width: $width;
                                border: 2px solid #18574A;
                                position: relative;

                                &.page_disabled{
                                    border: none;
                                    background-color: $gris !important;
                                    margin-top: 23px;

                                    border: 1px dashed $vert
                                }
    
                                p{
                                    font-size: 10px;
                                }
    
                                div{
                                    background-color: $gris;
                                    position: absolute;
                                }
                                .txt{
                                    height: 5%;
                                    width: 30%;
                                    transform: translate(-50%, -50%);
    
                                    border-radius: 50px;
                                    margin: 0;
                                    background-color: $vert;
                                    height: 5px;
                                }
                                .img{
                                    border: none;
                                    background-size: cover;
                                    background-position: center;
    
                                    &.img_top{
                                        background-position: top;
                                    }
                                    &.img_bottom{
                                        background-position: bottom;
                                    }
                                    &.img_center{
                                        background-position: center;
                                    }
                                    &.img_left{
                                        background-position: left;
                                    }
                                    &.img_right{
                                        background-position: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            >footer{
                display: flex;
                flex-direction: column;
                gap: 20px;

                padding: 30px;
                width: auto;

                border: 1px solid black;
                background-color: $gris;


                #panier_modal{
                    
                    width: 70%;
                    margin: 10px auto;

                    >p{
                        font-size: 25px;
                        font-weight: 500;
                    }
                    .options{

                        border: 1px solid $gristext;
                        padding: 15px;

                        font-size: 18px;

                        >div{
                            margin: 5px auto;
                            display: flex;
                            justify-content: space-between;

                            span{
                                color: $gristext;
                            }
                        }
                        &>div:last-child{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            outline: 2px solid black;
                            background-color: rgba(195, 242, 231, 1);
                            padding: 10px 15px;
                            span{color: black;}
                        }
                    }
                    .qtt_total{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        margin: 20px auto;

                        p:first-child{
                            font-size: 21px;
                            font-weight: 400;
                        }
                        p:last-child{
                            font-size: 25px;
                            font-weight: 900;
                        }
                    }
                }

                .paypal{
                    width: 85%;
                    margin: 10px auto;
                    background-color: $gris;
                }
            }
        }
    }   
    
}