body {
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* ------------------------------- DIMENSIONS ------------------------------- */
/* -------------------------------- EDITABLES ------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   EDITEUR                                  */
/* -------------------------------------------------------------------------- */
#editeur {
  position: relative;
  background-color: #EBF0EF;
  /* -------------------------------------------------------------------------- */
  /*                                   GAUCHE                                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                   CENTRE                                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                   DROITE                                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                            MODAL CONTINUE LATER                            */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                 MODAL FINAL                                */
  /* -------------------------------------------------------------------------- */
}
#editeur section {
  border: 2px solid black;
  background-color: white;
}
#editeur section > .header_section {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  padding: 15px 0 25px 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 70%, rgba(255, 255, 255, 0) 100%);
}
#editeur section > .header_section > p {
  color: #737373;
}
#editeur section > .footer_section {
  z-index: 4;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}
#editeur div#gauche {
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 4px);
  width: 360px;
  z-index: 700;
}
#editeur div#gauche #edit_image,
#editeur div#gauche #edit_texte,
#editeur div#gauche #templates {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  overflow: auto;
  transition: transform 0.5s;
}
#editeur div#gauche #edit_image footer span,
#editeur div#gauche #edit_texte footer span,
#editeur div#gauche #templates footer span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
#editeur div#gauche #templates {
  overflow-x: hidden;
}
#editeur div#gauche #templates main {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  padding: 100px 0;
}
#editeur div#gauche #templates main > a {
  position: relative;
  height: 155.54px;
  width: 110px;
  outline: 2px solid #18574A;
  background-color: white;
  transition: background 0.1s ease-in;
}
#editeur div#gauche #templates main > a:hover {
  cursor: pointer;
  background-color: rgb(195, 242, 231);
}
#editeur div#gauche #templates main > a .img {
  position: absolute;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.0705882353);
  border: none;
}
#editeur div#gauche #templates main > a .txt {
  position: absolute;
  height: 5%;
  width: 30%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  margin: 0;
  background-color: #18574A;
  border: none;
}
#editeur div#gauche #templates main:after {
  content: "";
  flex: auto;
}
#editeur div#gauche #templates #verif_chang_template {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 80px);
  opacity: 0.95;
  background-color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#editeur div#gauche #templates #verif_chang_template h4 {
  color: black;
  font-size: 20px;
}
#editeur div#gauche #templates #verif_chang_template p {
  color: #792222;
  font-size: 16px;
}
#editeur div#gauche #templates #verif_chang_template div {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
#editeur div#gauche #templates #verif_chang_template div button {
  border: none;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#editeur div#gauche #templates #verif_chang_template div button.continue {
  background-color: white;
  color: #18574A;
  text-decoration: underline;
}
#editeur div#gauche #templates #verif_chang_template div button.continue:hover {
  background-color: #EBF0EF;
}
#editeur div#gauche #templates #verif_chang_template div button.cancel {
  background-color: #792222;
  color: white;
  opacity: 0.9;
}
#editeur div#gauche #templates #verif_chang_template div button.cancel:hover {
  opacity: 1;
}
#editeur div#gauche #edit_image {
  display: none;
}
#editeur div#gauche #edit_image main {
  margin-top: 90px;
  position: relative;
}
#editeur div#gauche #edit_image main > div {
  margin-bottom: 40px;
}
#editeur div#gauche #edit_image main > div p {
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 15px;
}
#editeur div#gauche #edit_image main > div .inserer_image {
  width: 100%;
  height: 250px;
  border: 1px dashed #18574A;
  background-color: #F0F0F0;
  border-radius: 5px;
}
#editeur div#gauche #edit_image main > div .inserer_image label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  color: #737373;
}
#editeur div#gauche #edit_image main > div .inserer_image label input {
  display: none;
}
#editeur div#gauche #edit_image main > div .inserer_image label:hover {
  cursor: pointer;
}
#editeur div#gauche #edit_image main > div .image_actuel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
#editeur div#gauche #edit_image main > div .image_actuel > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
#editeur div#gauche #edit_image main > div .image_actuel > div .image {
  width: 100px;
  height: 70px;
  background-color: #737373;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
#editeur div#gauche #edit_image main > div .image_actuel > div .info h4 {
  margin: 5px;
  font-size: 20px;
}
#editeur div#gauche #edit_image main > div .image_actuel > div .info p {
  margin: 5px;
  font-size: 14px;
  font-weight: 300;
  width: 80%;
}
#editeur div#gauche #edit_image main > div .image_actuel > img:hover {
  cursor: pointer;
}
#editeur div#gauche #edit_image main .placer_image > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#editeur div#gauche #edit_image main .placer_image > div img,
#editeur div#gauche #edit_image main .placer_image > div div > * {
  cursor: pointer;
}
#editeur div#gauche #edit_image main .placer_image > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#editeur div#gauche #edit_image main .placer_image > div > div > div {
  height: 40px;
  width: 40px;
  background-color: #dddddd;
  border-radius: 100px;
  margin: 25px;
}
#editeur div#gauche #edit_texte {
  display: none;
}
#editeur div#gauche #edit_texte main {
  margin-top: 90px;
  position: relative;
}
#editeur div#gauche #edit_texte main div {
  height: 65vh;
}
#editeur div#gauche #edit_texte main div h6 {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}
#editeur div#gauche #edit_texte main div textarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 88%;
  background-color: #F0F0F0;
  border: 1px solid #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  padding: 50px 20px;
}
#editeur #retour_options {
  position: absolute;
  top: 10px;
  left: 440px;
  text-decoration: none;
  padding: 5px 20px;
  background: transparent;
  border: 2px solid #EBF0EF;
  border-radius: 5px;
  z-index: 200;
  transition: all 0.2s ease;
}
#editeur #retour_options .primaire {
  display: flex;
  align-items: center;
  gap: 10px;
}
#editeur #retour_options .primaire p {
  font-size: 16px;
  color: #18574A;
}
#editeur #retour_options .primaire img {
  width: 25px;
  transform: translateX(0px);
  transition: all 0.2s ease;
}
#editeur #retour_options .secondaire {
  display: none;
  padding: 10px 0;
}
#editeur #retour_options .secondaire p {
  color: #792222;
  font-size: 14px;
}
#editeur #retour_options .secondaire a {
  display: block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  background-color: #18574A;
  opacity: 0.9;
}
#editeur #retour_options .secondaire a:hover {
  opacity: 1;
}
#editeur #retour_options:hover {
  background-color: white;
}
#editeur #retour_options:hover img {
  transform: translateX(-5px);
}
#editeur #vue_degagee {
  position: absolute;
  top: 10px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 22px;
  transform: translate(-50%, 0%);
  border: none;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  transition: all ease 0.2s;
}
#editeur #vue_degagee img {
  width: 22px;
}
#editeur #vue_degagee p {
  color: #18574A;
  font-size: 16px;
}
#editeur #vue_degagee:hover {
  background-color: white;
}
#editeur .centre {
  height: 100vh;
  padding: 0 35%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#editeur .centre .page {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#editeur .centre .page p {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  transition: all ease 1s;
  width: 90%;
}
#editeur .centre .page > .feuille {
  height: 80vh;
  width: 56.5770862801vh;
  background-color: white;
  border: 4px solid #18574A;
  box-shadow: 13px 13px 0px #000000;
  position: relative;
  z-index: 0;
}
#editeur .centre .page > .feuille > .zone {
  margin: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  position: relative;
}
#editeur .centre .page > .feuille > .zone.id1 {
  margin: 0px;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
}
#editeur .centre .page > .feuille .voile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(24, 87, 74, 0.3333333333);
  z-index: 10;
}
#editeur .centre .page > .feuille .voile:hover {
  cursor: pointer;
}
#editeur .centre .page > .feuille button {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
#editeur .centre .page > .feuille button.txt {
  font-size: 20px;
  border: 1px dashed #737373;
  background-color: transparent;
  padding: 5px 5px;
  min-width: 30%;
  min-height: 5%;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 30%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
#editeur .centre .page > .feuille button.txt.border-none {
  border: none;
}
#editeur .centre .page > .feuille button.img {
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: rgba(0, 0, 0, 0.0705882353);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
#editeur .centre .page > .feuille button.img.vide {
  background-image: url("../../ASSETS/img/ajout_image.png") !important;
  background-size: 30px !important;
  background-position: center !important;
}
#editeur .centre .page > .feuille button.img.img_top {
  background-position: top;
}
#editeur .centre .page > .feuille button.img.img_bottom {
  background-position: bottom;
}
#editeur .centre .page > .feuille button.img.img_center {
  background-position: center;
}
#editeur .centre .page > .feuille button.img.img_left {
  background-position: left;
}
#editeur .centre .page > .feuille button.img.img_right {
  background-position: right;
}
#editeur .centre .page > .feuille button.selected {
  outline: 4px solid #18574A;
  outline-offset: -4px;
}
#editeur .centre .page > .feuille button:hover {
  background-color: rgb(195, 242, 231);
  outline: 2px solid #18574A;
}
#editeur .centre .page img {
  position: absolute;
  top: 10px;
  left: -15px;
  width: 25px;
}
#editeur div#droite {
  z-index: 700;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 304px;
  /* -------------------------------------------------------------------------- */
  /*                                   APERCU                                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                   PANIER                                   */
  /* -------------------------------------------------------------------------- */
}
#editeur div#droite #apercu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89vh;
  right: 0;
  top: 0;
}
#editeur div#droite #apercu main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 10px 110px 30px;
  overflow-y: scroll;
}
#editeur div#droite #apercu main .list_pages,
#editeur div#droite #apercu main div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#editeur div#droite #apercu main .list_pages.bloc_couv,
#editeur div#droite #apercu main div.bloc_couv {
  box-shadow: -5px 0px 0px 10px #F0F0F0, 5px 0px 0px 10px #F0F0F0;
  border-radius: 3px;
  background-color: #F0F0F0;
}
#editeur div#droite #apercu main .list_pages.bloc_couv > div,
#editeur div#droite #apercu main div.bloc_couv > div {
  justify-content: center !important;
}
#editeur div#droite #apercu main .list_pages .bloc_page.bloc_pages_1 > div,
#editeur div#droite #apercu main div .bloc_page.bloc_pages_1 > div {
  flex-direction: row-reverse;
}
#editeur div#droite #apercu main .list_pages .bloc_page, #editeur div#droite #apercu main .list_pages.bloc_couv,
#editeur div#droite #apercu main div .bloc_page,
#editeur div#droite #apercu main div.bloc_couv {
  width: 100%;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div, #editeur div#droite #apercu main .list_pages.bloc_couv > div,
#editeur div#droite #apercu main div .bloc_page > div,
#editeur div#droite #apercu main div.bloc_couv > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: initial;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page {
  position: relative;
  background-color: white;
  width: 125px;
  height: 176.75px;
  transition: background 0.1s ease-in;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page.disabled, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page.disabled,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page.disabled,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page.disabled {
  outline: none !important;
  cursor: auto !important;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page.disabled:hover, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page.disabled:hover,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page.disabled:hover,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page.disabled:hover {
  background-color: transparent !important;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page.selected, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page.selected,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page.selected,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page.selected {
  outline: 4px solid #18574A;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page.unselected, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page.unselected,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page.unselected,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page.unselected {
  outline: 2px solid #18574A;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page div, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page div,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page div,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page div {
  background-color: rgba(0, 0, 0, 0.0705882353);
  position: absolute;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .txt, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .txt,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .txt,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .txt {
  height: 5%;
  width: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  margin: 0;
  background-color: #18574A;
  height: 5px;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .img, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .img,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .img,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .img {
  border: none;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .img.img_top, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .img.img_top,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .img.img_top,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .img.img_top {
  background-position: top;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .img.img_bottom, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .img.img_bottom,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .img.img_bottom,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .img.img_bottom {
  background-position: bottom;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .img.img_center, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .img.img_center,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .img.img_center,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .img.img_center {
  background-position: center;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .img.img_left, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .img.img_left,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .img.img_left,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .img.img_left {
  background-position: left;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .img.img_right, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .img.img_right,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .img.img_right,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .img.img_right {
  background-position: right;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page .suppr_page, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page .suppr_page,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page .suppr_page,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page .suppr_page {
  position: absolute;
  top: -14px;
  right: -14px;
  z-index: 2;
}
#editeur div#droite #apercu main .list_pages .bloc_page > div .vignette_page:hover, #editeur div#droite #apercu main .list_pages.bloc_couv > div .vignette_page:hover,
#editeur div#droite #apercu main div .bloc_page > div .vignette_page:hover,
#editeur div#droite #apercu main div.bloc_couv > div .vignette_page:hover {
  cursor: pointer;
  background-color: rgb(195, 242, 231);
}
#editeur div#droite #panier {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: height ease-in-out 0.6s;
}
#editeur div#droite #panier.roll {
  height: 8vh;
}
#editeur div#droite #panier.unrolled {
  height: 610px;
}
#editeur div#droite #panier.shadow {
  box-shadow: 0px -20px 105px 50px #ebf0ef;
}
#editeur div#droite #panier > header {
  position: relative;
  display: flex;
  justify-content: end;
  height: 8vh;
  outline: 2px solid black;
  cursor: pointer;
}
#editeur div#droite #panier > header > div:first-child {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#editeur div#droite #panier > header > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100px;
}
#editeur div#droite #panier > header > div:last-child img {
  width: 50px;
  transition: transform ease 0.6s;
}
#editeur div#droite #panier > header > div:last-child img.reverse {
  transform: rotate(-180deg);
}
#editeur div#droite #panier > header:hover img {
  transform: translate(0, -10px);
}
#editeur div#droite #panier > header:hover img.reverse {
  transform: translate(0, 10px);
}
#editeur div#droite #panier > main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
#editeur div#droite #panier > main > header,
#editeur div#droite #panier > main > main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  background-color: #F0F0F0;
}
#editeur div#droite #panier > main > header input {
  margin-top: 10px;
  padding: 5px 15px;
  border: 1px solid black;
  flex: 1;
}
#editeur div#droite #panier > main > main #options_album {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
#editeur div#droite #panier > main > main #options_album div {
  display: flex;
  justify-content: space-between;
}
#editeur div#droite #panier > main > main #options_album div p {
  color: black;
}
#editeur div#droite #panier > main > main #options_album div span {
  color: #737373;
}
#editeur div#droite #panier > main > main > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid black;
  background-color: rgb(195, 242, 231);
  padding: 10px 15px;
}
#editeur div#droite #panier > main > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#editeur div#droite #panier > main > footer > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  outline: 2px solid black;
  outline-offset: -1px;
  box-shadow: 6px 6px 0px #000000;
}
#editeur div#droite #panier > main > footer > div:first-child button {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#editeur div#droite #panier > main > footer > div:first-child button:hover {
  background-color: #EBF0EF;
}
#editeur div#droite #panier > main > footer > div:last-child > div {
  display: none;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 5px;
}
#editeur div#droite #panier > main > footer > div:last-child > div span {
  font-size: 14px;
  color: #737373;
  text-decoration: line-through;
}
#editeur div#droite #panier > main > footer > div:last-child > div p {
  font-size: 14px;
}
#editeur div#droite #panier > main > footer > div:last-child > p {
  font-size: 27px;
  font-weight: 900;
  text-align: right;
  margin-top: -6px;
}
#editeur div#droite #panier > footer {
  display: flex;
  padding: 0 20px 20px 20px;
}
#editeur #actions_droite {
  position: absolute;
  bottom: 10px;
  right: 324px;
}
#editeur #actions_droite #btn_continue_later {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #EBF0EF;
  border: 1px solid #18574A;
  border-radius: 100px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all ease 0.2s;
}
#editeur #actions_droite #btn_continue_later img {
  width: 18px;
}
#editeur #actions_droite #btn_continue_later:hover {
  background-color: white;
}
#editeur #modal_continue_later {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 800;
}
#editeur #modal_continue_later main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  background-color: white;
  border: 2px solid #F0F0F0;
  border-radius: 10px;
  padding: 60px 40px 40px 40px;
  text-align: center;
}
#editeur #modal_continue_later main .annuler {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 100px;
  cursor: pointer;
  transition: all ease 0.2s;
}
#editeur #modal_continue_later main .annuler img {
  width: 30px;
}
#editeur #modal_continue_later main .annuler:hover {
  text-decoration: underline;
}
#editeur #modal_continue_later main h3 {
  font-size: 25px;
}
#editeur #modal_continue_later main p {
  font-size: 15px;
}
#editeur #modal_continue_later main p.second_text {
  font-size: 12px;
  color: #737373;
  font-style: italic;
}
#editeur #modal_continue_later main form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#editeur #modal_continue_later main form > div input {
  background-color: #EBF0EF;
  padding: 10px 20px;
  border: dashed 1px #18574A;
  border-radius: 100px;
  margin-bottom: 5px;
  font-size: 20px;
}
#editeur #modal_continue_later main form > div input::-moz-placeholder {
  color: #737373;
}
#editeur #modal_continue_later main form > div input::placeholder {
  color: #737373;
}
#editeur #modal_continue_later main form > div p {
  width: 80%;
  margin: 0 auto;
}
#editeur #modal_continue_later main form input[type=submit] {
  background-color: rgba(0, 0, 0, 0.0705882353);
  color: #737373;
  padding: 15px 30px;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
#editeur #modal_continue_later main form input[type=submit].valid {
  color: white;
  background-color: #18574A;
  opacity: 0.9;
}
#editeur #modal_continue_later main form input[type=submit].valid:hover {
  opacity: 1;
}
#editeur #modal_final {
  display: none;
  overflow-y: scroll;
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  padding: 20vh 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 910;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
#editeur #modal_final.actif {
  top: 0vh;
}
#editeur #modal_final > main {
  display: flex;
  flex-direction: column;
  cursor: auto;
  width: 820px;
  max-width: 90%;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid #F0F0F0;
  background-color: white;
}
#editeur #modal_final > main > header div {
  display: flex;
  justify-content: space-between;
}
#editeur #modal_final > main > header div button {
  display: block;
  border: none;
  background-color: transparent;
  color: #737373;
}
#editeur #modal_final > main > header div button:hover {
  background-color: #EBF0EF;
}
#editeur #modal_final > main > header div button img {
  width: 20px;
}
#editeur #modal_final > main > main {
  display: block;
  padding-top: 30px;
}
#editeur #modal_final > main > main h3 {
  color: #737373;
}
#editeur #modal_final > main > main #minia_couvertures,
#editeur #modal_final > main > main #minia_pages {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 89%;
  margin: 20px auto;
  gap: 10px;
}
#editeur #modal_final > main > main #minia_couvertures .double_page,
#editeur #modal_final > main > main #minia_pages .double_page {
  display: flex;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div,
#editeur #modal_final > main > main #minia_pages .double_page > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div img,
#editeur #modal_final > main > main #minia_pages .double_page > div img {
  position: absolute;
  top: 14px;
  left: -9px;
  width: 15px;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page {
  height: 226.24px;
  width: 160px;
  border: 2px solid #18574A;
  position: relative;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page.page_disabled,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page.page_disabled {
  border: none;
  background-color: #F0F0F0 !important;
  margin-top: 23px;
  border: 1px dashed #18574A;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page p,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page p {
  font-size: 10px;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page div,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page div {
  background-color: #F0F0F0;
  position: absolute;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page .txt,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page .txt {
  height: 5%;
  width: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  margin: 0;
  background-color: #18574A;
  height: 5px;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page .img,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page .img {
  border: none;
  background-size: cover;
  background-position: center;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page .img.img_top,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page .img.img_top {
  background-position: top;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page .img.img_bottom,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page .img.img_bottom {
  background-position: bottom;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page .img.img_center,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page .img.img_center {
  background-position: center;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page .img.img_left,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page .img.img_left {
  background-position: left;
}
#editeur #modal_final > main > main #minia_couvertures .double_page > div .miniature_page .img.img_right,
#editeur #modal_final > main > main #minia_pages .double_page > div .miniature_page .img.img_right {
  background-position: right;
}
#editeur #modal_final > main > footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: auto;
  border: 1px solid black;
  background-color: #F0F0F0;
}
#editeur #modal_final > main > footer #panier_modal {
  width: 70%;
  margin: 10px auto;
}
#editeur #modal_final > main > footer #panier_modal > p {
  font-size: 25px;
  font-weight: 500;
}
#editeur #modal_final > main > footer #panier_modal .options {
  border: 1px solid #737373;
  padding: 15px;
  font-size: 18px;
}
#editeur #modal_final > main > footer #panier_modal .options > div {
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}
#editeur #modal_final > main > footer #panier_modal .options > div span {
  color: #737373;
}
#editeur #modal_final > main > footer #panier_modal .options > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid black;
  background-color: rgb(195, 242, 231);
  padding: 10px 15px;
}
#editeur #modal_final > main > footer #panier_modal .options > div:last-child span {
  color: black;
}
#editeur #modal_final > main > footer #panier_modal .qtt_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
#editeur #modal_final > main > footer #panier_modal .qtt_total p:first-child {
  font-size: 21px;
  font-weight: 400;
}
#editeur #modal_final > main > footer #panier_modal .qtt_total p:last-child {
  font-size: 25px;
  font-weight: 900;
}
#editeur #modal_final > main > footer .paypal {
  width: 85%;
  margin: 10px auto;
  background-color: #F0F0F0;
}/*# sourceMappingURL=editeur.css.map */