// --- couleurs ---- 
$gris: #F0F0F0;
$gris2: #dddddd;
$gristext: #737373;

$vert: #18574A;
$vert2: rgb(195, 242, 231);
$vert_fond: #EBF0EF;


body{
    margin: 0px;
    overflow-x: hidden;
    
}

/* -------------------------------------------------------------------------- */
/*                                   EDITEUR                                  */
/* -------------------------------------------------------------------------- */
#editeur{

    position: relative;
    background-color: $vert_fond;


    #notifications{
        position: fixed;
        top: 30px;
        right: 30px;

        z-index: 999;

        div{
            display: flex;
            align-items: center;
            font-size: 18px;
            padding:  15px 35px  ;
            background-color: #EBF0EF;
            box-shadow: 5px 5px 0px #000000;

            animation: arrive 0.5s forwards, sortie 1s 4s forwards;


            img{
                height: 20px;
                width: 20px;
                margin: 10px;
            }
            span{
                font-weight: 700;
            }
        }
        .erreur{
            border: 3px solid #792222;
        }
        .valid{
            border: 3px solid #18574A;
        }
    }
    @keyframes sortie {
        0% {
            transform: translateX(0) ;
        }
        100% {
            transform: translateX(600px) ;
            display: none;
        }
    }
    @keyframes arrive {
        0% {
            transform: translateY(-300px) ;
        }
        100% {
            transform: translateX(0) ;
        }
    }
 
    section{
        border: 2px solid black;
        background-color: white;

        .header_section{
            position: absolute;
            left: 0;
            top: 0;

            padding: 15px 0 25px 0;
            text-align: center;

            width: 100%;

            background: linear-gradient(180deg, #FFFFFF 70%, rgba(255, 255, 255, 0) 100%);
        }
        .footer_section{
            z-index: 2;
            
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            padding: 30px 0;
            
            display: flex;
            justify-content: center;
            align-self: center;

            background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
        }
    }



    div#gauche{
        position: fixed ;
        left:0 ;
        top: 0;
        height: calc(100vh - 4px);
        width: 360px;

        z-index: 900;


        // CSS commun aux 3 parties
        #edit_image,
        #edit_texte,
        #templates{
            position: absolute;

            display: block;

            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;
            padding: 0 30px;
       
            overflow: auto;

            transition: transform 0.5s;




            footer{
                span{
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.4);   
                }
            }
        }
        // Partie affichage des templates 
        #templates{

            main{
                overflow: visible;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-direction: row;
                
                width: 100%;
                gap: 15px;
                padding: 100px 0;

                
                >a{
                    position: relative;
                    
                    $width: 110px;
                    $ratio: 1.414;
                    height: $width * $ratio ;
                    width: $width;


                    outline: 2px solid $vert;
                    // outline-offset: -2px;

                    &:hover{
                        cursor: pointer;
                    }

                    .img{
                        position: absolute;
                        margin: 0;
                        background-color: $gris2;
                        border: none;
                    }
                    .txt{
                        position: absolute;
                        height: 5%;
                        width: 30%;

                        transform: translate(-50%, -50%);
                        border-radius: 100px;
                        margin: 0;
                        background-color: $vert;
                        border: none;
                    }
                }


                
                &:after {
                    content: "";
                    flex: auto;
                  }
            }
            
        }


        // Partie edit image 
        // RAF : partie comment afficher l'image  
        #edit_image{
            display: none;

            main{
                margin-top: 90px;
                position:relative;
                >div{
                    margin-bottom: 40px;
                    p{
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 19px;
                        margin-bottom: 15px;
                    }
                    .inserer_image{
                        width: 100%;
                        height: 250px;
                        border: 1px dashed #18574A;
                        background-color: $gris;
                        border-radius: 5px;

                        label{

                            width: 100%;
                            height: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            font-size: 20px;
                            font-weight: 300;
                            color: $gristext;

                            input{
                                display: none;

                            }

                            &:hover{
                                cursor: pointer;
                            }
                        }

                        
                    }
                    .image_actuel{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 20px 0 ;

                        >div{
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            
                            .image{
                                width: 100px;
                                height: 70px;

                                background-color: $gristext;
                                background-size:cover;
                                background-position: center;

                                border-radius: 5px;
                            }

                            .info{                                

                                h4{
                                    margin: 5px;

                                    font-size: 20px;
                                }
                                p{
                                    margin: 5px;
                                    
                                    font-size: 14px;
                                    font-weight: 300;
                                    width: 80%;
                                }
                            }

                            
                        }
                        &>img{
                            &:hover{
                                cursor: pointer; 
                            }
                            
                        }
                    }
                    

                }
                .placer_image > div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    >div{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        >div{
                            height: 150px;
                            width: 150px;
                            background-color: $gris2;
                            border-radius: 5px;
                            margin: 10px;
                        }
                    }
                }

            }


        }
        // Partie edit texte 
        #edit_texte{
            display: none;

            main{
                margin-top: 90px;
                position: relative;

                div{
                    height: 65vh;

                    h6{
                        position: absolute;
                        
                        top: 15px;
                        left: 15px;

                        z-index: 2;
                    }
                    textarea{
                        
                        position: absolute;
                        top: 0;
                        left: 0;
                        
                        height: 100%;
                        width: 88%;
                        background-color: $gris;
                        border: 1px solid #000000;


                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 300;

                        padding:  50px 20px;

                        
                        
                    }
                }
                
            }
        }
    }


    /* -------------------------------------------------------------------------- */
    /*                                   CENTRE                                   */
    /* -------------------------------------------------------------------------- */
    
    #centre{
        height: 100vh;
        padding: 0 35%;
        display: flex;
        align-items: center;

        overflow: hidden; 
        // overflow: scroll;

        behavior: smooth;


        .page{

            $width: 550px;
            width: $width;

            display: flex;
            align-items: center;
            flex-direction: column;

            position: relative;
           


            p{
                font-size: 15px;
                font-weight: 300;
                text-align: center;

                margin-bottom: 10px;

                transition: all ease 1s;   
                width: 90%;             
            }
            >div{
                
                $ratio: 1.414;
                height: $width * $ratio ;
                width: $width;


                background-color:white; 

                border: 4px solid #18574A;
                box-shadow: 13px 13px 0px #000000;

                position: relative;
                z-index: 0;

                .voile{
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    height: 100%;
                    width: 100%;
    
                    background-color: #18574a55;

                    z-index: 10;

                    &:hover{
                        cursor: pointer;
                    }
                }


                button{
                    position: absolute;
                    cursor: pointer;

                    &.txt{
                        border: 1px dashed $gristext;
                        background-color: transparent;

                        padding: 5px 5px;

                        min-width: 30%;
                        min-height: 5%;

                        width: auto;
                        height: auto;

                        max-width: 80%;
                        max-height: 30%;
                        border-radius: 10px;

                        transform: translate(-50%, -50%);
                    }
                    &.img{
                        outline: 2px solid transparent;
                        outline-offset: -2px;

                        background-color: $gris;
                        background-size: cover;
                        background-position: center;
                    

                        &.img_top{
                            background-position: top;
                        }
                        &.img_bottom{
                            background-position: bottom;
                        }
                        &.img_center{
                            background-position: center;
                        }
                        &.img_left{
                            background-position: left;
                        }
                        &.img_right{
                            background-position: right;
                        }

                        transition: all 0.2s ease-in;
                        &:hover{
                            background-color: $vert2;

                            outline: 2px solid $vert;
                        }
                    }
                    &.selected{
                        outline: 4px solid $vert;
                        outline-offset: -4px;
                    }
                }
                
            }

            img{
                position: absolute;
                top: 10px;
                left: -15px;

                width: 25px;
            }
            

            
        }



    }





    /* -------------------------------------------------------------------------- */
    /*                                   DROITE                                   */
    /* -------------------------------------------------------------------------- */
    div#droite{

        z-index: 900;

        position: fixed;
        right:0 ;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100vh;
        width: 304px;

        /* -------------------------------------------------------------------------- */
        /*                                   APERCU                                   */
        /* -------------------------------------------------------------------------- */
        #apercu{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 89vh;

            right: 0;
            top: 0;
            
            header{
                z-index: 3;
                p{
                    color: $gristext;
                }
            }

            main{
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 30px;

                height: 100%;
                margin: 0 auto;
                padding: 100px 10px 110px 30px;

                overflow-y: scroll;

                .bloc_couv{
                    width: 100%;

                    >div{
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;

                        .vignette_page{
                            position: relative; 

                            $width: 125px;

                            width: $width;
                            height: calc($width * 1.414);

                            outline: 2px solid $vert;
                            cursor: pointer;
                        }
                    }
                }

                .list_pages{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;


                    .bloc_page{
                    
                        width: 100%;
    
                        >div{
                            display: flex;
                            justify-content: space-between;
                            gap: 10px;
    
                            
    
                            .vignette_page{
                                position: relative; 
    
                                $width: 125px;
    
                                width: $width;
                                height: calc($width * 1.414);
    
                                outline: 2px solid $vert;
                                
                                div{
                                    background-color: $gris;
                                    position: absolute;
                                }
                                .txt{
                                    height: 5%;
                                    width: 30%;
                                    transform: translate(-50%, -50%);
    
                                    border-radius: 50px;
                                    margin: 0;
                                    background-color: $vert;
                                    height: 5px;
                                }
                                .img{
                                    border: none;
                                    background-size: cover;
                                    background-position: center;
    
                                    &.img_top{
                                        background-position: top;
                                    }
                                    &.img_bottom{
                                        background-position: bottom;
                                    }
                                    &.img_center{
                                        background-position: center;
                                    }
                                    &.img_left{
                                        background-position: left;
                                    }
                                    &.img_right{
                                        background-position: right;
                                    }
                                }
    
                                .suppr_page{
                                    position: absolute;
                                    top: -14px;
                                    right: -14px;
                                    z-index: 2;
                                }
    
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        /* -------------------------------------------------------------------------- */
        /*                                   PANIER                                   */
        /* -------------------------------------------------------------------------- */

        #panier{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;

            &.roll{
                height: 8vh;
            }
            &.unrolled{
                height: 610px;
            }

            width: 100%;
            transition: height ease-in-out 0.6s;

            &.shadow{
                box-shadow: 0px -20px 105px 50px #ebf0ef;
            }

            >header{
                position: relative;
                display: flex;
                justify-content: end;
                height: 8vh;
                
                outline: 2px solid black;
    
                cursor: pointer;
    
                >div:first-child{
                    flex: 1;
                    height: 100%;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                >div:last-child{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    background-color: black;
                    height: 100%;
                    width: 100px;
    
                    img{
                        width: 50px;
                        transition: transform ease 0.6s;
                    }
                    img.reverse {
                        transform: rotate(-180deg);
                    }
                }
    
    
                &:hover{
                    img{
                        transform: translate(0, -10px);
                    }
                    img.reverse{
                        transform: translate(0, 10px);
                    }
                }
            }

            >main{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;


                >header,
                >main{
                    display: flex;
                    flex-direction: column;

                    border: 1px solid black;
                    padding: 20px;
                    background-color: $gris;
                }
                
                >header{
                    input{
                        margin-top: 10px;
                        padding: 5px 15px;

                        border: 1px solid black;
                        flex: 1;
                    }
                }
                >main{
                    #options_album{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        margin-bottom: 20px;

                        div{
                            display: flex;
                            justify-content: space-between;

                            p{
                                color: black;
                            }
                            span{
                                color: $gristext;
                            }
                        }
                    }
                    &>div:last-child{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                        outline: 2px solid black;
                        background-color: rgba(195, 242, 231, 1);
                        padding: 10px 15px;
                    }
                }
                >footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    >div:first-child{ //boutons de quant
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        width: 50%;
                        height: fit-content;
                        padding: 5px;

                        outline: 2px solid black;
                        outline-offset: -1px;
                        box-shadow: 6px 6px 0px #000000;

                        button{
                            background-color: white;
                            border: 1px solid black;
                            height: 40px;
                            width: 40px;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            cursor: pointer;
                        
                            &:hover{
                                background-color: $vert_fond;
                            }
                        }
                    }
                    >div:last-child{ //prix et reduc

                        >div{
                            display: flex;
                            justify-content: end;
                            gap: 10px;

                            span{
                                font-size: 13px;

                                color: $gristext;
                                text-decoration: line-through;
                            }
                            p{
                                font-size: 13px;
                                
                            }
                        }
                        >p{ //prix
                            font-size: 27px;
                            font-weight: 900;

                            text-align: right;
                            margin-top: -6px;
                        }
                    }
                }
            }

            >footer{
                display: flex;
                padding: 0 20px 20px 20px;

            }
            
        }

        
    }


    /* -------------------------------------------------------------------------- */
    /*                                 MODAL FINAL                                */
    /* -------------------------------------------------------------------------- */

    #modal_final{
            display: none;

            position: absolute;
            top: 100vh;
            left: 0;

            overflow-y: scroll;

                
            z-index: 910;
            
            width: 100vw;
            
            
            padding: 20vh 0;

            backdrop-filter: blur(10px);

            cursor: pointer;

            transition: all 0.6s ease-in-out;
        
            &.actif{
                top: 0vh;
            }

            >main{

                display: flex;
                flex-direction: column;
                cursor:auto;

                
                width: 820px;
                max-width: 90%;

                margin: 0 auto;
                padding: 50px;
                background-color: white;

                

                >header{
                    div{
                        display: flex;
                        justify-content: space-between;

                        button{ // bouton de fermeture du modal
                            display: block;
                            border: none;
                            background-color: transparent;

                            color: $gristext;

                            &:hover{
                                background-color: #EBF0EF;
                            }

                            img{
                                width: 20px;
                            }
                        }
                    }
                }
                >main{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 89%;
                    margin: 20px auto;

                    >div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        position: relative;

                        margin-bottom: 15px;

                        img{
                            position: absolute;
                            top: 14px;
                            left: -9px;
            
                            width: 15px;
                        }

                        .miniature_page{
                            $width : 160px;
                            $ratio: 1.414;
                            height: $width * $ratio ;
                            width: $width;
                            border: 2px solid #18574A;
                            position: relative;

                            p{
                                font-size: 10px;
                            }

                            div{
                                background-color: $gris;
                                position: absolute;
                            }
                            .txt{
                                height: 5%;
                                width: 30%;
                                transform: translate(-50%, -50%);

                                border-radius: 50px;
                                margin: 0;
                                background-color: $vert;
                                height: 5px;
                            }
                            .img{
                                border: none;
                                background-size: cover;
                                background-position: center;

                                &.img_top{
                                    background-position: top;
                                }
                                &.img_bottom{
                                    background-position: bottom;
                                }
                                &.img_center{
                                    background-position: center;
                                }
                                &.img_left{
                                    background-position: left;
                                }
                                &.img_right{
                                    background-position: right;
                                }
                            }
        
                            
                        }
                    }
                    
                    
                }
                >footer{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    padding: 30px;
                    width: auto;

                    border: 1px solid black;
                    background-color: $gris;

                    >div{
                        background-color: $gris;
                    }
                }
            }
        }   
    
}