body {
  margin: 0px;
  overflow-y: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                   EDITEUR                                  */
/* -------------------------------------------------------------------------- */
#editeur {
  position: relative;
  background-color: #EBF0EF;
  /* -------------------------------------------------------------------------- */
  /*                                   CENTRE                                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                   DROITE                                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                 MODAL FINAL                                */
  /* -------------------------------------------------------------------------- */
}
#editeur section {
  border: 2px solid black;
  background-color: white;
}
#editeur section .header_section {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px 0 25px 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 70%, rgba(255, 255, 255, 0) 100%);
}
#editeur section .footer_section {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}
#editeur div#gauche {
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 4px);
  width: 360px;
  z-index: 900;
}
#editeur div#gauche #edit_image,
#editeur div#gauche #edit_texte,
#editeur div#gauche #templates {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  overflow: auto;
  transition: transform 0.5s;
}
#editeur div#gauche #edit_image footer span,
#editeur div#gauche #edit_texte footer span,
#editeur div#gauche #templates footer span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
#editeur div#gauche #templates main {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  padding: 100px 0;
}
#editeur div#gauche #templates main > a {
  position: relative;
  height: 155.54px;
  width: 110px;
  outline: 2px solid #18574A;
}
#editeur div#gauche #templates main > a:hover {
  cursor: pointer;
}
#editeur div#gauche #templates main > a .img {
  position: absolute;
  margin: 0;
  background-color: #dddddd;
  border: none;
}
#editeur div#gauche #templates main > a .txt {
  position: absolute;
  height: 5%;
  width: 30%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  margin: 0;
  background-color: #18574A;
  border: none;
}
#editeur div#gauche #templates main:after {
  content: "";
  flex: auto;
}
#editeur div#gauche #edit_image {
  display: none;
}
#editeur div#gauche #edit_image main {
  margin-top: 90px;
  position: relative;
}
#editeur div#gauche #edit_image main > div {
  margin-bottom: 40px;
}
#editeur div#gauche #edit_image main > div p {
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 15px;
}
#editeur div#gauche #edit_image main > div .inserer_image {
  width: 100%;
  height: 250px;
  border: 1px dashed #18574A;
  background-color: #F0F0F0;
  border-radius: 5px;
}
#editeur div#gauche #edit_image main > div .inserer_image label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  color: #737373;
}
#editeur div#gauche #edit_image main > div .inserer_image label input {
  display: none;
}
#editeur div#gauche #edit_image main > div .inserer_image label:hover {
  cursor: pointer;
}
#editeur div#gauche #edit_image main > div .image_actuel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
#editeur div#gauche #edit_image main > div .image_actuel > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
#editeur div#gauche #edit_image main > div .image_actuel > div .image {
  width: 100px;
  height: 70px;
  background-color: #737373;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
}
#editeur div#gauche #edit_image main > div .image_actuel > div .info h4 {
  margin: 5px;
  font-size: 20px;
}
#editeur div#gauche #edit_image main > div .image_actuel > div .info p {
  margin: 5px;
  font-size: 14px;
  font-weight: 300;
  width: 80%;
}
#editeur div#gauche #edit_texte {
  display: none;
}
#editeur div#gauche #edit_texte main {
  margin-top: 90px;
  position: relative;
}
#editeur div#gauche #edit_texte main div {
  height: 65vh;
}
#editeur div#gauche #edit_texte main div h6 {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}
#editeur div#gauche #edit_texte main div textarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 88%;
  background-color: #F0F0F0;
  border: 1px solid #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  padding: 50px 20px;
}
#editeur #centre {
  height: 100vh;
  padding: 0 35%;
  display: flex;
  align-items: center;
  overflow: hidden;
  behavior: smooth;
}
#editeur #centre .page {
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#editeur #centre .page p {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  transition: all ease 1s;
  width: 90%;
}
#editeur #centre .page > div {
  height: 777.7px;
  width: 550px;
  background-color: white;
  border: 4px solid #18574A;
  box-shadow: 13px 13px 0px #000000;
  position: relative;
  z-index: 0;
}
#editeur #centre .page > div .voile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(24, 87, 74, 0.3333333333);
  z-index: 10;
}
#editeur #centre .page > div .voile:hover {
  cursor: pointer;
}
#editeur #centre .page > div button {
  position: absolute;
  cursor: pointer;
}
#editeur #centre .page > div button.txt {
  border: 1px dashed #737373;
  background-color: transparent;
  padding: 5px 5px;
  min-width: 30%;
  min-height: 5%;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 30%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
#editeur #centre .page > div button.img {
  border: none;
  background-color: #F0F0F0;
  background-size: cover;
  background-position: center;
}
#editeur #centre .page > div button.img.img_top {
  background-position: top;
}
#editeur #centre .page > div button.img.img_bottom {
  background-position: bottom;
}
#editeur #centre .page > div button.img.img_center {
  background-position: center;
}
#editeur #centre .page > div button.img.img_left {
  background-position: left;
}
#editeur #centre .page > div button.img.img_right {
  background-position: right;
}
#editeur #centre .page > div button.selected {
  outline: 4px solid #18574A;
  outline-offset: -4px;
}
#editeur #centre .page img {
  position: absolute;
  top: 10px;
  left: -15px;
  width: 25px;
}
#editeur div#droite {
  z-index: 900;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 304px;
  /* -------------------------------------------------------------------------- */
  /*                                   APERCU                                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                                   PANIER                                   */
  /* -------------------------------------------------------------------------- */
}
#editeur div#droite #apercu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89vh;
  right: 0;
  top: 0;
}
#editeur div#droite #apercu header p {
  color: #737373;
}
#editeur div#droite #apercu main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 10px 110px 30px;
  overflow-y: scroll;
}
#editeur div#droite #apercu main .bloc_page {
  width: 100%;
}
#editeur div#droite #apercu main .bloc_page > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#editeur div#droite #apercu main .bloc_page > div .vignette_page {
  width: 125px;
  height: 176.75px;
  outline: 2px solid #18574A;
}
#editeur div#droite #apercu main .bloc_page > div .vignette_page div {
  background-color: #F0F0F0;
}
#editeur div#droite #panier {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: height ease-in-out 0.6s;
}
#editeur div#droite #panier.roll {
  height: 8vh;
}
#editeur div#droite #panier.unrolled {
  height: 610px;
}
#editeur div#droite #panier.shadow {
  box-shadow: 0px -20px 105px 50px #ebf0ef;
}
#editeur div#droite #panier > header {
  position: relative;
  display: flex;
  justify-content: end;
  height: 8vh;
  outline: 2px solid black;
  cursor: pointer;
}
#editeur div#droite #panier > header > div:first-child {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#editeur div#droite #panier > header > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 100px;
}
#editeur div#droite #panier > header > div:last-child img {
  width: 50px;
  transition: transform ease 0.6s;
}
#editeur div#droite #panier > header > div:last-child img.reverse {
  transform: rotate(-180deg);
}
#editeur div#droite #panier > header:hover img {
  transform: translate(0, -10px);
}
#editeur div#droite #panier > header:hover img.reverse {
  transform: translate(0, 10px);
}
#editeur div#droite #panier > main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
#editeur div#droite #panier > main > header,
#editeur div#droite #panier > main > main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  background-color: #F0F0F0;
}
#editeur div#droite #panier > main > header input {
  margin-top: 10px;
  padding: 5px 15px;
  border: 1px solid black;
  flex: 1;
}
#editeur div#droite #panier > main > main #options_album {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
#editeur div#droite #panier > main > main #options_album div {
  display: flex;
  justify-content: space-between;
}
#editeur div#droite #panier > main > main #options_album div p {
  color: black;
}
#editeur div#droite #panier > main > main #options_album div span {
  color: #737373;
}
#editeur div#droite #panier > main > main > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid black;
  background-color: rgb(195, 242, 231);
  padding: 10px 15px;
}
#editeur div#droite #panier > main > footer {
  display: flex;
  justify-content: space-between;
}
#editeur div#droite #panier > main > footer > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  outline: 2px solid black;
  outline-offset: -1px;
  box-shadow: 6px 6px 0px #000000;
}
#editeur div#droite #panier > main > footer > div:first-child button {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#editeur div#droite #panier > main > footer > div:first-child button:hover {
  background-color: #EBF0EF;
}
#editeur div#droite #panier > main > footer > div:last-child > div {
  display: flex;
  justify-content: end;
  gap: 10px;
}
#editeur div#droite #panier > main > footer > div:last-child > div span {
  font-size: 13px;
  color: #737373;
  text-decoration: line-through;
}
#editeur div#droite #panier > main > footer > div:last-child > div p {
  font-size: 13px;
}
#editeur div#droite #panier > main > footer > div:last-child > p {
  font-size: 27px;
  font-weight: 900;
  text-align: right;
  margin-top: -6px;
}
#editeur div#droite #panier > footer {
  display: flex;
  padding: 0 20px 20px 20px;
}
#editeur #modal_final {
  position: absolute;
  top: 100vh;
  overflow-y: scroll;
  z-index: 910;
  width: 100vw;
  height: 100vh;
  padding: 20vh 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
#editeur #modal_final.actif {
  top: 0vh;
}
#editeur #modal_final > main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  cursor: auto;
  height: auto;
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
}
#editeur #modal_final > main > header div {
  display: flex;
  justify-content: space-between;
}
#editeur #modal_final > main > header div button {
  display: block;
  border: none;
  background-color: transparent;
  color: #737373;
}
#editeur #modal_final > main > header div button:hover {
  background-color: #EBF0EF;
}
#editeur #modal_final > main > header div button img {
  width: 20px;
}
#editeur #modal_final > main > footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: auto;
  border: 1px solid black;
  background-color: #F0F0F0;
}
#editeur #modal_final > main > footer > div {
  background-color: white;
}/*# sourceMappingURL=editeur.css.map */