/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                  COULEURS                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Space Grotesk";
  src: url("../../ASSETS/fonts/SpaceGrotesk.ttf");
}
@font-face {
  font-family: "Lumanosimo";
  src: url("../../ASSETS/fonts/Lumanosimo.ttf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../ASSETS/fonts/PlayfairDisplay.ttf");
}
/* -------------------------------------------------------------------------- */
/*                                    TEXTE                                   */
/* -------------------------------------------------------------------------- */
* {
  font-family: "Space Grotesk";
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 200;
  color: #737373;
  text-decoration: underline;
}

p {
  font-size: 18px;
}

/* -------------------------------------------------------------------------- */
/*                                   BOUTONS                                  */
/* -------------------------------------------------------------------------- */
.main_btn {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5em;
  border: none;
  outline: 2px solid black;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 5px 5px 0 0 black;
  transition: all ease 0.2s;
}

.main_btn:hover {
  background-color: #EBF0EF;
  box-shadow: 8px 8px 0 0 black;
}

.black_btn {
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.7em;
  border: none;
  padding: 10px 0px;
  background-color: black;
  box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
  outline: 1px solid rgba(255, 255, 255, 0.468);
  transition: all ease 0.2s;
}

.black_btn:hover {
  background-color: #282828;
  box-shadow: 7px 7px 0px 0px rgb(0, 0, 0);
}

.btn_retour {
  display: flex;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin-left: -20px;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: #737373;
  font-size: 20px;
  cursor: pointer;
  transition: background ease 0.2s;
}
.btn_retour img {
  fill: #18574A;
  width: 30px;
}

.btn_retour:hover {
  background-color: #EBF0EF;
}

/* -------------------------------------------------------------------------- */
/*                                  ELEMENTS                                  */
/* -------------------------------------------------------------------------- */
.ligne_page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.ligne_page .hr {
  height: 2px;
  background-color: #737373;
  border-radius: 10px;
  width: 100%;
}
.ligne_page .num_page {
  flex: 1;
  white-space: nowrap;
  color: #737373;
}

/* -------------------------------------------------------------------------- */
/*                                NOTIFICATIONS                               */
/* -------------------------------------------------------------------------- */
#notifications {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999;
}
#notifications div {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 15px 35px;
  background-color: #EBF0EF;
  box-shadow: 5px 5px 0px #000000;
  transition: 1s;
  animation: arrive 0.5s forwards, sortie 1s 4s forwards;
  margin: 10px;
}
#notifications div img {
  height: 20px;
  width: 20px;
  margin: 10px;
}
#notifications div span {
  font-weight: 700;
}
#notifications .erreur {
  border: 3px solid #792222;
}
#notifications .valid {
  border: 3px solid #18574A;
}

@keyframes sortie {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800px);
    display: none;
  }
}
@keyframes arrive {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=general.css.map */