/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                  COULEURS                                  */
/* -------------------------------------------------------------------------- */

$gris: #F0F0F0;
$gris2: #dddddd;
$gristext: #737373;
$dark_gris: #282828;

$vert: #18574A;
$vert_fond: #EBF0EF;


/* -------------------------------------------------------------------------- */
/*                                    TEXTE                                   */
/* -------------------------------------------------------------------------- */

*{
    font-family: 'Space Grotesk', sans-serif;
}

h1{
    font-size: 60px;
    font-weight: 700;
}
h2{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 30px;
    font-weight: 700;
}
h6{
    font-size: 16px;
    font-weight: 200;

    color: $gristext;
    text-decoration: underline;
}

p{
    font-size: 18px;
}


/* -------------------------------------------------------------------------- */
/*                                   BOUTONS                                  */
/* -------------------------------------------------------------------------- */

.main_btn{
    width: fit-content;
    margin: auto;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    
    border: none;
    outline: 2px solid black;
    padding: 10px 50px;
    background-color: white;
    box-shadow: 5px 5px 0 0 black;

    transition: all ease 0.2s;
}
.main_btn:hover{
    background-color: $vert_fond;
    box-shadow: 8px 8px 0 0 black;
}

.black_btn{
    width: 100%;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 1.7em;

    border: none;
    padding: 10px 0px;
    background-color: black;

    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    outline: 1px solid rgba(255, 255, 255, 0.468);
    

    transition: all ease 0.2s;
}
.black_btn:hover{
    background-color: $dark_gris;
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
}

.btn_retour{
    display: flex;
    gap: 10px;

    width: fit-content;
    padding: 10px 20px;
    margin-left: -20px;

    border-radius: 5px;
    background-color: white;

    text-decoration: none;
    color: $gristext;
    font-size: 20px;
    cursor: pointer;

    img{
        fill: $vert;

        width: 30px;
    }

    transition: background ease 0.2s;
}
.btn_retour:hover{
    background-color: $vert_fond;
}



/* -------------------------------------------------------------------------- */
/*                                  ELEMENTS                                  */
/* -------------------------------------------------------------------------- */

//ligne de numéro de page entre <hr> 
//      <div class="ligne_page">
//          <div class="hr"></div>
//          <div class="num_page"> page 1 / 2 </div>
//          <div class="hr"></div>
//      </div>
.ligne_page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    margin-bottom: 15px;

    .hr{
        height: 2px;
        background-color: $gristext;
        border-radius: 10px;
        width: 100%;
    }

    .num_page{
        flex: 1;
        white-space: nowrap;
        color: $gristext
    }
}  

/* -------------------------------------------------------------------------- */
/*                                NOTIFICATIONS                               */
/* -------------------------------------------------------------------------- */

#notifications{
    position: fixed;
    top: 30px;
    right: 30px;
    
    z-index: 999;


    div{
        display: flex;
        align-items: center;
        font-size: 18px;
        padding:  15px 35px  ;
        background-color: #EBF0EF;
        box-shadow: 5px 5px 0px #000000;

        transition: 1s;
        animation: arrive 0.5s forwards, sortie 1s 4s forwards;

        margin: 10px;

        img{
            height: 20px;
            width: 20px;
            margin: 10px;
        }
        span{
            font-weight: 700;
        }
    }
    .erreur{
        border: 3px solid #792222;
    }
    .valid{
        border: 3px solid #18574A;
    }
}
@keyframes sortie {
    0% {
        transform: translateX(0) ;
    }
    100% {
        transform: translateX(800px) ;
        display: none;
    }
}
@keyframes arrive {
    0% {
        transform: translateY(-300px) ;
    }
    100% {
        transform: translateX(0) ;
    }
}